.page_favorites {
  padding: 0;

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .main_title {
    font-weight: bold;
    font-size: 32px;
    color: #000;
  }
}

.favorites_container {
  display: grid;
  grid-template-columns: repeat(1, minmax(auto, 250px));
  gap: 30px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

@media (max-width: 767px) {
  .main_title {
    margin-bottom: 20px;
  }
}

@media (min-width: 375px) {
  .page_favorites {
    padding: 0 20px;
  }

  .favorites_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}

@media (min-width: 476px) {
  .favorites_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 768px) {
  .page_favorites {
    padding: 0 40px;

    &__top {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  .favorites_container {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

@media (min-width: 992px) {
  .page_favorites {
    padding: 0 60px;
  }

  .favorites_container {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

@media (min-width: 1200px) {
  .favorites_container {
    gap: 40px;
  }
}