header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 40px 40px;
  border-bottom: 1px solid #eaeaea;

  .head_logo_tit {
    display: flex;
    align-items: center;

    a {
      margin-right: 15px;
    }

    .logo {
      width: 40px;
      height: 40px;

      img, svg {
        width: 100%;
        height: auto;
      }
    }

    .title {
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;

      .sub_title {
        font-size: 14px;
      }
    }
  }

  .nav {
    ul {
      display: flex;
      align-items: center;

      li:not(:last-child) {
        margin-right: 30px;
      }

      li {
        display: inline-flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        cursor: pointer;

        a {
          display: inline-flex;
        }

        .total_price {
          margin-left: 10px;
          font-weight: 600;
          font-size: 14px;
        }

        .nav_icon {
          width: 20px;
          height: 20px;
          transition: transform .2s ease-in-out;
        }

        &:hover .nav_icon {
          transform: translateY(-3px);
        }

        &:active .nav_icon {
          animation: anim .2s ease-in-out;

          path {

          }
        }

        @keyframes anim {
          from {
            transform: scale(0.8);
          }
          to {
            transform: scale(1);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    .head_logo_tit {

      .title {
        display: none;
      }
    }
  }
}

@media (max-width: 575px) {
  header {
    padding: 20px 15px;
  }
}